$color-text-primary: #011D00;
$color-text-secondary: #4C4C4C;
$color-text-tertiary: #7A7A7A;
$color-text-link: #044603;

$color-card-fill: #F5F5F5;
$color-card-stroke: #E6E6E6;

$color-button-fill: #197618;

$color-text-enfase: #0E630C;
$color-text-placeholder: #8A8A8A;
$color-detail: #359833;