// imports config
@use './cor.scss';
@use 'sass:math';

// functions
@function converter($px) {
    @return math.div($px, 16) * 1rem;
}

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: cor.$color-text-primary;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}